pandas
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost
Flask
Flask-Cors
mlflow==2.2.2
dvc
# gdown
ensure==1.0.2
notebook
python-dotenv
tqdm
joblib
types-PyYAML
scipy
jupyter
jupyterlab
FastAPI
uvicorn
python-multipart
# -e .